body {
    margin: 0;
    font-family: 'Times New Roman',sans-serif;
    line-height: 1.5;
    background-color: white;
    color: black;
}


header {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
}



nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}


nav a:hover {
    color: orange;
}



section {
    padding: 20px;
}


h2 {
    color:black;
}



ul {
    list-style-type: square;
}



#projects  div{
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}



button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


button:hover {
    background-color: pink;
}






